/* Global variables.  */
/* This turned out a little too complex, and probably is overly specific. I'm still fiddling with this. Should work by itself though, once you define your design token colors.
Adjust fallbacks if modern color syntax not supported for text and bg variants. */

/* Basic variable definitions for color schemes */
:root {
  --gutter: var(--space-m-l);
  --border-radius: 0.3rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.05ch;

  --gradient-rainbow: linear-gradient(
    90deg,
    #cf4662 10%,
    #fbbe25 30%,
    #62c95c 50%,
    #08bccb 75%,
    #a977d5 90%
  );
  --gradient-conic: conic-gradient(
    var(--color-primary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-tertiary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-base-dark) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );
}
