---
layout: base.njk
title: artist artist
---
<article class="wrapper flow">
  <h1>{{ title }}</h1>
  <div class="switcher">
    <h2 class="text-primary">A heading and paragraph in two columns</h2>
    <p>
      Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet
      rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum
      faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl
      consectetur et.
    </p>
  </div>
</article>